<link type="text/css" rel="stylesheet" href="../static/css/categorymenu.css"/>
<script src="../static/js/categorymenu.js"></script>

<a class="navbar-brand" href="{{ url_for('products.index') }}">
	<img src="../static/img/bw-logo-new.png" width="30" height="30" class="d-inline-block align-top"
		alt="">
	Beauty Wish
</a>
<nav class="sidebar">
<ul class="nav flex-column" id="nav_accordion">
	<li class="nav-item has-submenu">
		<a class="nav-link" href="#"> Макияж  </a>
		<ul class="submenu collapse">
			<li><a class="nav-link" href="#">Лицо </a></li>
			<li><a class="nav-link" href="#">Глаза </a></li>
			<li><a class="nav-link" href="#">Губы </a> </li>
            <li><a class="nav-link" href="#">Ногти </a> </li>
            <li><a class="nav-link" href="#">Кисти и спонжи </a> </li>
	</ul>
	</li>
	<li class="nav-item has-submenu">
		<a class="nav-link" href="#"> Уход  </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"> Волосы </a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#"> Парфюмерия </a>
	</li>
</ul>
</nav>