<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="row">
    
    <div class="col-sm-2">
        <h2>Категории</h2>
        <ul class="vertical-nav">
            <li><a href="">Макияж</a></li>
            <ul class="sub-menu">
                <div class='column'>
                    <li><a href="#">Лицо</a></li>
                    <li><a href="#">Глаза</a></li>
                    <li><a href="#">Губы</a></li>
                    <li><a href="#">Ногти</a></li>
                    <li><a href="#">Кисти и спонжи</a></li>
                </div>
            </ul>
            <li><a href="">Уход</a></li>
            <li><a href="">Волосы</a></li>
            <li><a href="">Парфюмерия</a></li>
        </ul>
    </div>
</div>