<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('products.index') }}">
        <img src="../static/img/bw-logo-new.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Beauty Wish
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- Block "Category"-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Категории</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for category in category_list%}
                    <li><a class="dropdown-item" href="{{ url_for('products.get_category', category_id=category.id) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <!-- Search bar-->
        <form id="search_by_name" class="form-inline my-2 my-lg-0" action="{{ url_for('products.search_field', result=textbox_search.value) }}" method="POST">
            <input class="form-control mr-sm-2" name="textbox_search" type="search" placeholder="Введите название" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
        <!--
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="textbox_search" type="search" placeholder="Введите название" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="search_field(textbox_search.value)">Поиск</button>
        </form>
        -->

        <ul class="navbar-nav margin-right">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.edit') }}"> Привет, {{ current_user.username }}!</a>
            </li>
            {% if current_user.is_admin %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.admin_index') }}">Админка</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.logout') }}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.login') }}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.register') }}">Регистрация</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>