{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>1
    <div class="col-9">
    </div>
</div>
<div class="row">
    <div class="col-sm-2 text-right">
        <h2></h2>
    </div>
    <div class="col-10">
        <h2>Продукты</h2>
        <div class="container"></div>
        {% for product in product_list %}
        <div class="row">
            <div class="round-sep"></div>
            <div class="col-xs-2" style="height: 200px;">
                <div class="affix">
                    <img src="{{ product.image }}" class="rounded float-left" alt="product.brand_name" height="130"
                        width="130">
                </div>
            </div>
            <div class="col-md-10 text-left p-4">
                <div class="col-md-3 ms-auto orange">
                    <div class="row">
                        <h5><a href="{{ product.url }}"> {{product.brand_full_string}} </a></h5>
                    </div>
                    <div class="row">
                        <p>от {{product.price}} руб.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br><br>
        {% endfor %}
    </div>
</div>
{% endblock %}