<link type="text/css" rel="stylesheet" href="../static/css/productlist.css"/>
<script src="../static/js/productlist.js"></script>

{% extends "base.html" %}
{% block content %}


{% include('messages.html') %}
<!--
<div class="container mb-3 mt-3">
    <button class="btn btn-primary btn-grid">Grid View</button>
    <button class="btn btn-danger btn-list">List View</button>
-->
<div class="container grid-container">    
    <div class="row">
        {% for product in product_list %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <!--<img class="card-img-top" src="{{ product.image }}" alt="product.brand_name" sizes="16x16">-->
                <img class="center" src="{{ product.image }}" alt="product.brand_name" height="130" width="130">
                <div class="card-body">
                    <h5><a href="{{ url_for('products.single_item', product_id=product.id) }}"> {{product.brand_full_string}} </a></h5>
                    <p class="card-text">от {{product.price}} руб.</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

</div>
</div>
{% endblock %}